$color-background: rgb(24, 27, 29);
$color-card: rgb(36, 36, 39);
$color-card-alt: rgb(42, 42, 47);
$color-text-primary: #f3f6f9;
$color-text-alt: rgb(186, 186, 190);

//$color-highlight: rgb(1, 127, 221);
$color-highlight: #678;
$color-highlight-alt: rgb(254, 191, 0);
