$color-background: rgb(25, 25, 38);
$color-card: rgb(29, 32, 54);
$color-card-alt: rgb(37, 39, 58);
$color-text-primary: #f3f6f9;
$color-text-alt: rgb(186, 186, 190);

$color-highlight: rgb(59, 72, 177);
$color-highlight-alt: rgb(110, 188, 230);
