@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;900&display=swap');

$nunito: 'Nunito', sans-serif;

$fontstack-heading: $nunito;
$fontstack-body: $nunito;

$fontweight-light: 200;
$fontweight-normal: 400;
$fontweight-bold: 900;

$fontsize-xs: 12px;
$fontsize-small: 14px;
$fontsize-normal: 18px;
$fontsize-large: 24px;
$fontsize-xl: 32px;

@mixin fontsize($base) {
    font-size: $base;
    line-height: $base * 1.35;
}
