@import '../sass/colors';
@import '../sass/devices';
@import '../sass/typography';

.MonthSeparators {

    &__separator {
        fill: rgba(255, 255, 255, 0.0);
    }

    &__separator-alt {
        fill: rgba(255, 255, 255, 0.035);
    }

    text {
        fill: rgba(255, 255, 255, 0.25);
        font-size: 32px;
    }
}
