@import './sass/colors';
@import './sass/devices';
@import './sass/typography';


.AddButton {
    background: $color-card;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;

    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: row;
    }

    &__select {
        flex: 1;
        padding: 0.5em;
    }

    &__button {
        align-items: center;
        background: $color-highlight;
        border: none;
        border-radius: 0.5em;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-weight: $fontweight-bold;
        justify-content: center;
        margin: 0.25em;
        padding: 0.5em;
        outline: none;

        @include fontsize($fontsize-normal);
    }
}

/*
<div class="react-select-container">
  <div class="react-select__control">
    <div class="react-select__value-container">...</div>
    <div class="react-select__indicators">...</div>
  </div>
  <div class="react-select__menu">
    <div class="react-select__menu-list">
      <div class="react-select__option">...</div>
    </div>
  </div>
</div>
*/
.Select {
    color: $color-text-primary;

    &__control {
        background-color: $color-card !important;
        border-color: $color-text-alt !important;
        color: $color-text-alt;
    }

    &__menu {
        background-color: $color-card-alt !important;
    }

    &__single-value {
        color: $color-text-alt !important;
    }

    &__option--is-focused {
        background-color: $color-highlight !important;
        color: $color-text-primary !important;
    }
}