@import './sass/colors';
@import './sass/devices';
@import './sass/typography';

/*
<div class="react-select-container">
  <div class="react-select__control">
    <div class="react-select__value-container">...</div>
    <div class="react-select__indicators">...</div>
  </div>
  <div class="react-select__menu">
    <div class="react-select__menu-list">
      <div class="react-select__option">...</div>
    </div>
  </div>
</div>
*/
.AddButton {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;

    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: row;
    }

    &__select {
        flex: 1;
        padding: 0.5em;
    }

    &__button {
        align-items: center;
        background: #036;
        border: 1px solid #036;
        border-radius: 0.5em;
        color: #fff;
        display: flex;
        font-weight: $fontweight-bold;
        justify-content: center;
        margin: 0.25em;
        padding: 0.5em;
        outline: none;

        @include fontsize($fontsize-normal);
    }
}

.Select {
    color: #fff;

    &__control {
        background-color: #222 !important;
        border-color: #ccc !important;
        color: #ccc;
    }

    &__menu {
        background-color: #222 !important;
    }

    &__single-value {
        color: #ccc !important;
    }
}