@import './sass/colors';
@import './sass/devices';
@import './sass/typography';


.County {
    background: $color-card;
    border-radius: 0.5em;
    margin: 1em 0;
    max-width: 600px;
    padding: 1em;

    h2 {
        color: #ccc;
    }

    &__header {
        margin-bottom: 1.0em;
    }

    &__footer {
        display: flex;
        padding: 1.0em 0;
    }

    &__footerleft {
        flex: 1;
        padding-right: 1.0em;
    }

    &__footerbtn {
        align-items: center;
        border: none;
        background: rgba(255, 255, 255, 0.04);
        border-radius: 0.5em;
        color: #999;
        cursor: pointer;
        display: flex;
        font-weight: $fontweight-bold;
        justify-content: center;
        padding: 0.5em;

        &:hover {
            background: $color-highlight;
            color: $color-text-primary;
        }
    }

    &__masks {
        align-items: center;
        background: $color-card-alt;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.25em;
        padding: 1em;
    }

    &__maskscounts {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__maskstitle {
        @include fontsize($fontsize-normal);
        color: #ccc;
        font-weight: $fontweight-light;
    }

    &__row {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            flex-direction: row;
        }

        .Card {
            flex: 1;
            margin: 0.25em;
        }
    }
}