@import './sass/colors';
@import './sass/devices';
@import './sass/typography';


.County {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;

    h2 {
        color: #ccc;
    }

    .Chart {
        margin-bottom: 0.5em;
    }

    &__row {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            flex-direction: row;
        }

        .Card {
            flex: 1;
            margin: 0.25em;
        }
    }
}